@mixin bg-cover() {
  background-size: cover;
  background-position: center center;
};

@mixin font-varela() {
  font-family: 'Varela Round', sans-serif !important;
};

@mixin font-pt {
  font-family: 'PT Serif', serif;
};

@mixin link($color, $hover) {
  color: $color;
  transition: all 0.4s ease 0s;

  &:hover {
    color: $hover;
  }
};

//max 以下
@mixin media-breakpoint-xs {
  @media (max-width: 576px) {
    @content
  }
};

@mixin media-breakpoint-md {
  @media (max-width: 768px) {
    @content
  }
};

@mixin media-breakpoint-xl {
  @media (max-width: 992px) {
    @content
  }
};

@mixin media-breakpoint-lg {
  @media (max-width: 1200px) {
    @content
  }
};



//max 以上
@mixin media-breakpoint-min($breakpoint) {
  @media (min-width: $breakpoint) {
    @content
  }
};