.r_mainblock {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 50px;
  background-color: $white;

  &__info {
    display: flex;
    color: $dark;

    @include media-breakpoint-xs {
      flex-wrap: wrap;
    }
  }

  &__title {
    width: 300px;
    height: 200px;
    padding: 30px;
    font-size: 28px;

    @include media-breakpoint-xs {
      height: auto;
      padding: 0;
    }
  }

  &__txt{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: 100%;
    padding: 30px;

    @include media-breakpoint-xs {
      height: auto;
      padding: 0;
      margin-bottom: 50px;
    }
  }

  &__link{
    margin-top: 20px;
    @include link($green,$dark);
  }

  &__img{
    width: 100%;
    height: 240px;
    background-image: url('../src/rio.png');
    @include bg-cover;
  }
}